<div class="wm-success">
  <div class="wm-success__container" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayoutAlign="center center">
      <img class="wm-success__trophy" src="assets/images/match.png" alt="Match" />
      <div class="wm-success__leader-score">
        {{ matches }}
      </div>
    </div>
    <span class="wm-success__congrats-text {{ animatedClass }}">
      MATCHES FOUND
    </span>
    <span class="wm-success__you-found">
      IN 30 SECONDS
    </span>
    <span class="wm-success__share-results">
      SHARE YOUR RESULTS
    </span>
    <img class="wm-success__facebook-action" src="assets/images/facebook.png" alt="Facebook" />
  </div>

  <div class="wm-success__action-container" fxLayout="column" fxLayoutAlign="center center">
    <div class="wm-success__action-btn" (click)="play()">
      <img src="assets/images/play-again-btn.png" alt="Play Again" />
      <span>
        PLAY AGAIN
      </span>
    </div>
    <div class="wm-success__action-btn" (click)="leaderBoards()">
      <img src=" assets/images/leaderboard-btn-2.png" alt="Leaderboard" />
      <span>
        LEADERBOARD
      </span>
    </div>
  </div>
</div>
