@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-slide {
  background-image: url(/assets/images/bg-1.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__info-text {
    height: 18vh;
  }

  &__slide-img {
    img {
      &:first-child {
        height: 68vh;
        z-index: 999;
        position: relative;
        animation-delay: 0.5s;
      }

      &:last-child {
        height: 40vh;
        margin-left: -21vh;
        margin-top: 12vh;
        position: relative;
        animation-delay: 1.5s;
      }
    }
  }

  &__versus-text {
    display: flex;
    flex-direction: column;
    font-size: 11px;
    color: $dark;
    position: absolute;
    font-weight: bold;
    bottom: 20px;
    right: 100px;
  }
}
