<div class="wm-enter">
  <img
    src="assets/images/halloween.png"
    alt="Home Icon"
    class="wm-enter__home"
  />
  <img
    src="assets/images/globe-logo.png"
    alt="Globe Logo"
    class="wm-enter__globe"
  />

  <img src="assets/images/cta.png" alt="Globe Logo" class="wm-enter__cta" />
  <div class="wm-enter__container" fxLayoutAlign="center center">
    <div
      class="wm-enter__form-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <img
        src="assets/images/enter-name-text.png"
        class="wm-enter__enter-name-img"
      />
      <div
        class="wm-enter__name-field animate__animated"
        [class.animate__shakeX]="isError"
        fxLayoutAlign="center center"
      >
        <img src="assets/images/entry-form.png" alt="Entry Form" />
        <textarea
          class="wm-enter__name-text"
          [(ngModel)]="name"
          rows="1"
        ></textarea>
        <!-- <input /> -->
      </div>
      <div (click)="next()" class="wm-enter__begin-btn mt-4">
        <img src="assets/images/ok-btn.png" alt="Button" />
        <!-- <span>BEGIN</span> -->
      </div>
    </div>
  </div>
</div>
