@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-enter {
  background-image: url(/assets/images/bg-2.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &__container,
  &__form-container {
    height: 100%;
    width: 100%;
  }

  &__enter-text {
    margin-top: 25px;
    margin-bottom: 15px;
    font-family: 'Dolce Vita';
    font-size: 36px;
    color: $dark;
    letter-spacing: 2px;
    font-weight: 600;

    @include for-phone {
      margin-top: 20px;
      font-size: 16px;
    }

    @include for-tablet {
      font-size: 20px;
      margin-top: 24px;
    }

    @include for-small-desktop {
      font-size: 24px;
      margin-top: 32px;
    }


    @include for-desktop {
      font-size: 32px;
      margin-top: 36px;
    }


    @include for-big-desktop {
      font-size: 36px;
      margin-top: 50px;
    }
  }

  &__name-text {
    font-family: 'Dolce Vita';
    font-size: 32px;
    background: none;
    color: $dark;
    letter-spacing: 2px;
    font-weight: 400;
    position: absolute;
    outline: none;
    height: fit-content;
    text-align: center;
    border: none;

    @include for-phone {
      font-size: 14px;
      width: 200px;
    }

    @include for-tablet {
      width: 250px;
      font-size: 18px;
    }

    @include for-small-desktop {
      width: 320px;
      font-size: 22px;
    }

    @include for-desktop {
      width: 400px;
      font-size: 30px;
    }

    @include for-big-desktop {
      width: 500px;
      font-size: 34px;
    }

  }

  &__logo {
    max-width: 120px;

    @include for-phone {
      max-width: 60px;
    }

    @include for-tablet {
      max-width: 80px;
    }

    @include for-small-desktop {
      max-width: 100px;
    }

    @include for-desktop {
      max-width: 120px;
    }

    @include for-big-desktop {
      max-width: 150px;
    }
  }

  &__action {
    margin-top: 20px;
    max-width: 120px;
    transition: 0.2s ease-in;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    @include for-phone {
      max-width: 60px;
      margin-top: 20px;
    }

    @include for-tablet {
      max-width: 80px;
      margin-top: 24px;
    }

    @include for-small-desktop {
      max-width: 100px;
      margin-top: 32px;
    }

    @include for-desktop {
      max-width: 120px;
      margin-top: 36px;
    }

    @include for-big-desktop {
      max-width: 150px;
      margin-top: 50px;
    }
  }

  &__name-field {
    height: min-content !important;

    img {
      max-width: 500px;
      min-width: 200px;
      width: 100%;
      height: auto;

      @include for-phone {
        width: 200px;
      }

      @include for-tablet {
        width: 250px;
      }

      @include for-desktop {
        width: 360px;
      }

      @include for-big-desktop {
        width: 500px;
      }

    }
  }
}
