<div class="wm-success">
  <img
    src="assets/images/halloween.png"
    alt="Home Icon"
    class="wm-success__home no-select"
  />
  <img
    src="assets/images/globe-logo.png"
    alt="Globe Logo"
    class="wm-success__globe no-select"
  />
  <img
    src="assets/images/logo.png"
    alt="Globe Logo"
    class="wm-success__logo no-select"
  />

  <div
    class="wm-success__container"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <img src="assets/images/trophy.png" alt="" class="wm-success__trophy" />

    <div
      class="p-4 wm-success__score-container mt-3"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h4><strong>CONGRATULATIONS!</strong></h4>
      <p>
        YOU COLLECTED {{ score }} MEDALS <br /><br />
        AND EARNED A SIM CARD <br />
        FOR OUR PARTNER SCHOOLS <br />
        FOR <strong>#NOSTUDENTLEFTBEHIND</strong>
      </p>
    </div>
    <!-- <span class="wm-success__collected-text">
      {{ score }} CANDIES <br />
      IN 30 SECONDS
    </span>

    <div
      class="d-flex flex-column align-items-center justify-content-center mt-3"
    >
      <span class="wm-success__share-results" *ngIf="!isShareMode">
        SHARE YOUR RESULTS
      </span>
      <a
        *ngIf="!isShareMode"
        href="https://www.facebook.com/sharer/sharer.php?u={{
          url
        }}&display=popup&ref=plugin&src=like&kid_directed_site=0"
        target="blank"
        class="ml-3"
      >
        <img
          class="wm-success__facebook-action"
          src="assets/images/facebook.png"
          alt="Facebook"
        />
      </a>
    </div>
    <span class="wm-success__share-results" *ngIf="isShareMode">
      <b>{{ name }}</b> RESULTS
    </span>
  </div> -->

    <div
      *ngIf="!isShareMode"
      class="wm-success__action-container"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="wm-success__action-btn" (click)="play()">
        <img src="assets/images/play-again-btn.png" alt="Play Again" />
        <!-- <span>
        PLAY AGAIN
      </span> -->
      </div>
      <div class="wm-success__action-btn" (click)="leaderBoards()">
        <img src=" assets/images/leaderboard2-btn.png" alt="Leaderboard" />
        <!-- <span>
        LEADERBOARD
      </span> -->
      </div>
    </div>
  </div>
</div>
