<div class="wm-landing">
  <img
    src="assets/images/halloween.png"
    alt="Home Icon"
    class="wm-landing__home"
  />
  <img
    src="assets/images/globe-logo.png"
    alt="Globe Logo"
    class="wm-landing__globe"
  />

  <img src="assets/images/cta.png" alt="Globe Logo" class="wm-landing__cta" />
  <div class="wm-landing__container" fxLayoutAlign="end">
    <div fxFlex="60" fxLayout="column" fxLayoutAlign="center center"></div>
    <div fxFlex="40" fxLayout="column" fxLayoutAlign="center center">
      <a [routerLink]="['/enter-name']">
        <img
          class="wm-action"
          src="assets/images/start-btn.png"
          alt="Click Start"
        />
      </a>
      <a [routerLink]="['/leaderboard']"
        ><img
          class="wm-action"
          src="assets/images/leaderboard-btn.png"
          alt="Leaderboard"
      /></a>
    </div>
  </div>
</div>
