<div class="wm-how-to" fxLayoutAlign="center center">
  <div>
    <div class="wm-how-to__header" fxLayoutAlign="start center">
      <img class="wm-how-to__logo" src="assets/images/logo-2.png" alt="Logo">
      <span class="wm-how-to__how-text">
        HOW TO PLAY
      </span>
    </div>
    <div class="wm-how-to__instructions">
      <ol>
        <li>Click and flip two hexagons at a time</li>
        <li>Repeat until you find two logos that match</li>
        <li>Each matching pair counts towards your final score.</li>
        <li>Player with the most matches found in the<br> shortest time becomes the top scorer.</li>
      </ol>
    </div>
  </div>
  <img class="wm-how-to__action" src="assets/images/begin-btn.png" alt="Begin">
</div>
