@import '~src/assets/scss/theme-config';
@import '~src/assets/scss/config';

.#{$style-prefix}-how-to {
  background-image: url(/assets/images/bg.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

  &__logo {
    height: 28vh;
  }

  &__home {
    height: 14vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
  }

  &__cta {
    height: 18vh;
    position: absolute;
    bottom: 2vh;
    right: 2vh;
  }

  &__globe {
    height: 9vh;
    position: absolute;
    top: 2vh;
    right: 2vh;
  }

  &__begin-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    cursor: pointer;

    img {
      height: 18vh;
    }

    span {
      font-weight: bold;
      font-size: 4.5vh;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__container {
    // height: 45vh;
    background-color: #1e1d70;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

  &__title {
    height: 17vh;
    max-width: 100%;
    // margin-bottom: -5vh;
    // margin-top: -5vh;

    @include for-phone {
      max-width: 72%;
      height: auto;
      margin-bottom: -4vh;
      // margin-bottom: 2vh;
      // margin-top: -2vh;
    }

    @include for-tablet {
      max-width: 72%;
      height: auto;
      margin-bottom: -4vh;
      // margin-bottom: -3vh;
      // margin-top: -2vh;
    }

    @include for-small-desktop {
      // max-width: 95%;
      height: 17vh;
      // margin-bottom: -3vh;
      // margin-top: -5vh;
    }
  }

  &__logo-how {
    height: 15vh;
    width: auto;
    margin-bottom: 1.5vh;

    @include for-phone {
      height: 12vh;
    }

    @include for-tablet {
      height: 12vh;
    }

    @include for-small-desktop {
      height: 15vh;
    }
  }

  &__hmo {
    height: 43vh;

    @include for-phone {
      height: 40vh;
    }

    @include for-tablet {
      height: 40vh;
    }

    @include for-small-desktop {
      height: 43vh;
    }
  }

  &__info-icon {
    height: 10vh;
    margin-left: 2vh;
    margin-right: 2vh;
  }

  // p {
  //   // font-family: 'Dolce Vita', Arial, Helvetica, sans-serif;
  //   // font-weight: bold;
  //   font-size: 16px;
  //   color: #2c3177;
  //   line-height: 18px;
  //   margin-right: 10px;
  //   text-align: center;

  //   @include for-phone {
  //     font-size: 12px;
  //     line-height: 14px;
  //   }

  //   @include for-tablet {
  //     font-size: 12px;
  //     line-height: 14px;
  //   }

  //   @include for-small-desktop {
  //     font-size: 16px;
  //     line-height: 20px;
  //   }

  //   @include for-desktop {
  //     font-size: 18px;
  //     line-height: 24px;
  //   }

  //   @include for-big-desktop {
  //     font-size: 20px;
  //     line-height: 28px;
  //   }
  // }

  // span {
  //   font-family: 'Dolce Vita';
  //   // font-weight: bolder;
  //   font-size: 14px;
  //   color: #2c3177;
  //   line-height: 15px;

  //   @include for-phone {
  //     font-size: 11px;
  //     line-height: 13px;
  //     font-weight: normal;
  //   }

  //   @include for-tablet {
  //     font-size: 11px;
  //     line-height: 13px;
  //     font-weight: normal;
  //   }

  //   @include for-small-desktop {
  //     font-size: 14px;
  //     line-height: 15px;
  //     // font-weight: bolder;
  //   }

  //   @include for-desktop {
  //     font-size: 16px;
  //     line-height: 18px;
  //     // font-weight: bolder;
  //   }
  // }

  &__how-text {
    font-family: 'Dolce Vita', Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: white;
    font-weight: 800;

    @include for-phone {
      font-size: 18px;
    }

    @include for-tablet {
      font-size: 20px;
    }

    @include for-small-desktop {
      font-size: 24px;
    }

    @include for-desktop {
      font-size: 36px;
    }

    @include for-big-desktop {
      font-size: 42px;
    }
  }

  &__instructions {
    font-size: 24px;
    // letter-spacing: 2px;
    color: white;
    font-weight: 600;

    li {
      margin-top: 8px;
    }

    @include for-phone {
      font-size: 14px;
      margin-top: 5px;
    }

    @include for-tablet {
      font-size: 14px;
      margin-top: 5px;
    }

    @include for-small-desktop {
      font-size: 18px;
      margin-top: 14px;
    }

    @include for-desktop {
      font-size: 20px;
      margin-top: 18px;
    }

    @include for-big-desktop {
      font-size: 24px;
      margin-top: 22px;
    }
  }

  &__action {
    max-width: 120px;
    transition: 0.2s ease-in;
    cursor: pointer;
    position: absolute;
    right: 2%;
    bottom: 4vh;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }

    @include for-phone {
      max-width: 60px;
    }

    @include for-tablet {
      max-width: 65px;
    }

    @include for-small-desktop {
      max-width: 100px;
    }

    @include for-desktop {
      max-width: 120px;
    }

    @include for-big-desktop {
      max-width: 150px;
    }
  }
}
