<div class="wm-how-to" fxLayout="column" fxLayoutAlign="center center">
  <img
    src="assets/images/halloween.png"
    alt="Home Icon"
    class="wm-how-to__home"
  />
  <img
    src="assets/images/globe-logo.png"
    alt="Globe Logo"
    class="wm-how-to__globe"
  />
  <img src="assets/images/logo.png" alt="Logo" class="wm-how-to__logo" />
  <div
    class="p-md-3 p-sm-2 d-flex flex-column align-items-center justify-content-center wm-how-to__container m-md-2 m-sm-1"
  >
    <span class="wm-how-to__how-text"> HOW TO PLAY </span>
    <p class="wm-how-to__instructions">
      <b>1.</b> Avoid the obstacles while collecting as many medals as you can
      within 30 seconds. <br />
      <b>2.</b> Click or tap anywhere on the game screen to jump and release to
      come down. <br />
      <b>3.</b> Get a perfect score to contribute 1 sim card that will be
      donated to our <br />
      partner schools to help ensure that there is
      <strong> #NoStudentLeftBehind. </strong>
    </p>
  </div>
  <div (click)="play()" class="wm-how-to__begin-btn mt-4 mt-sm-1">
    <img src="assets/images/ok-btn.png" alt="Button" />
    <!-- <span>BEGIN</span> -->
  </div>
</div>
